* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: #e4dfed;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo_container {
  width: 400px;
  min-width: 400px;
  /* height: 200px; */
  aspect-ratio: 1/1;
  /* background-color: antiquewhite; */
  display: flex;
  flex-wrap: wrap;
}

.semi-circle {
  width: 200px;
  height: 100px;
  min-width: 50%;
  /* background-color: #e12727c7; */
  /* border: 1px solid black; */
  border-radius: 100px 100px 0 0;
}

.upper {
  transform: translatey(100%);
}
.lower {
  transform: rotate(180deg);
}

#circle-1 {
  background-color: #ffc718;
}
#circle-2 {
  background-color: hsl(5, 68%, 54%);
  transform: translatex(-50%) rotate(90deg);
  transform-origin: bottom;
}
#circle-3 {
  background-color: #1ca45c;
  transform: translateX(50%) rotate(270deg);
  transform-origin: bottom;
}
#circle-4 {
  background-color: #4486f4;
}

h1 {
  font-size: 3rem;
  margin-top: 4rem;
  color: hsl(0, 0%, 50%);
}
#darker-text {
  /* font-weight: bolfder; */
  color: hsl(0, 0%, 43%);
}
